.trailsearch-main-container {
  margin: 0;
  padding: 10rem 3rem;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  /* height: 160vh; */
  background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3ey8AxNXiGB_Fml5rjcd9x8vbcm9kyoO-eXZn8lnKZQiN_j-xOF7N1m068zGJGO81vAtzGlNoevmDccAV5bqp0iD3F4fdKWZyzZxaTYW8qg0apZlm8XHF5kctQBdYY1Wc0nXRuDGj_9xvG4cuNgFocWtg=w1408-h1126-no?authuser=0");
}